<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (3.0.1)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.12/site-packages (3.10.8)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.4.2)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (12.1.1)
Requirement already satisfied: pyparsing>=3 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [2]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [3]:
summary = pd.DataFrame({
    'Data Type': df.dtypes,
    'Non-Null Count': df.notnull().sum(),
    'Missing Values': df.isnull().sum()
})

summary

                    Data Type  Non-Null Count  Missing Values
ResponseId              int64           65437               0
MainBranch                str           65437               0
Age                       str           65437               0
Employment                str           65437               0
RemoteWork                str           54806           10631
...                       ...             ...             ...
JobSatPoints_11       float64           29445           35992
SurveyLength              str           56182            9255
SurveyEase                str           56238            9199
ConvertedCompYearly   float64           23435           42002
JobSat                float64           29126           36311

[114 rows x 3 columns]

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [4]:
df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [5]:
# Identify missing values in Country
print("Missing values in Country:")
print(df['Country'].isnull().sum())

# Show all unique country values with counts
print("\nCountry value counts:")
print(df['Country'].value_counts())

# Show least frequent entries (potential inconsistencies)
print("\nLeast frequent Country entries:")
print(df['Country'].value_counts().tail(10))

Missing values in Country:
6507

Country value counts:
Country
United States of America                                11095
Germany                                                  4947
India                                                    4231
United Kingdom of Great Britain and Northern Ireland     3224
Ukraine                                                  2672
                                                        ...
Haiti                                                       1
Nauru                                                       1
Chad                                                        1
Djibouti                                                    1
Solomon Islands                                             1
Name: count, Length: 185, dtype: int64

Least frequent Country entries:
Country
Niger                                 1
Samoa                                 1
Lesotho                               1
Saint Kitts and Nevis                 1
Micronesia, Federated States of...    1
Haiti                                 1
Nauru                                 1
Chad                                  1
Djibouti                              1
Solomon Islands                       1
Name: count, dtype: int64

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [6]:
# 3.2 Standardize entries in columns like Country or EdLevel

# ----- Country standardization (example mappings) -----
country_map = {
    # unify common variants
    "United States of America": "United States",
    "USA": "United States",
    "U.S.A.": "United States",
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
    "UK": "United Kingdom",
    "Russian Federation": "Russia",
    "Viet Nam": "Vietnam",
    "Iran, Islamic Republic of...": "Iran",
    "Korea, Republic of": "South Korea",
    "Korea, Democratic People's Republic of": "North Korea",
    "Hong Kong (S.A.R.)": "Hong Kong",
    "Taiwan": "Taiwan",
}

# Apply mapping (values not in the map remain unchanged)
df["Country"] = df["Country"].replace(country_map)

# Optional: tidy whitespace
df["Country"] = df["Country"].astype("string").str.strip()

# ----- EdLevel standardization (collapse to consistent categories) -----
edlevel_map = {
    "Primary/elementary school": "Primary/elementary",
    "Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)": "Secondary/high school",
    "Some college/university study without earning a degree": "Some college (no degree)",
    "Associate degree (A.A., A.S., etc.)": "Associate degree",
    "Bachelor’s degree (B.A., B.S., B.Eng., etc.)": "Bachelor’s degree",
    "Master’s degree (M.A., M.S., M.Eng., MBA, etc.)": "Master’s degree",
    "Professional degree (JD, MD, etc.)": "Professional degree",
    "Other doctoral degree (Ph.D., Ed.D., etc.)": "Doctoral degree",
    "Something else": "Other",
}

df["EdLevel"] = df["EdLevel"].replace(edlevel_map)
df["EdLevel"] = df["EdLevel"].astype("string").str.strip()

# ----- Quick validation (before/after counts for standardized columns) -----
print("Top 10 Countries (standardized):")
print(df["Country"].value_counts().head(10))

print("\nEdLevel distribution (standardized):")
print(df["EdLevel"].value_counts())

Top 10 Countries (standardized):
Country
United States     11095
Germany            4947
India              4231
United Kingdom     3224
Ukraine            2672
France             2110
Canada             2104
Poland             1534
Netherlands        1449
Brazil             1375
Name: count, dtype: Int64

EdLevel distribution (standardized):
EdLevel
Bachelor’s degree                                 24942
Master’s degree                                   15557
Some college (no degree)                           7651
Secondary/high school                              5793
Professional degree (JD, MD, Ph.D, Ed.D, etc.)     2970
Associate degree                                   1793
Primary/elementary                                 1146
Other                                               932
Name: count, dtype: Int64

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [7]:
# 4.1 One-hot encode the Employment column

# Create one-hot encoded columns for Employment
employment_dummies = pd.get_dummies(df["Employment"], prefix="Employment")

# Join the encoded columns back to the DataFrame
df = pd.concat([df, employment_dummies], axis=1)

# Optional: inspect the new columns
print(employment_dummies.head())

   Employment_Employed, full-time  \
0                            True
1                            True
2                            True
3                           False
4                           False

   Employment_Employed, full-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   ...  \
0  ...
1  ...
2  ...
3  ...
4  ...

   Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, full-time;Not employed, but looking for work;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, full-time;Not employed, but looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, full-time;Retired  \
0                                  False
1                                  False
2                                  False
3                                  False
4                                  False

   Employment_Student, full-time;Student, part-time  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False

   Employment_Student, full-time;Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, full-time;Student, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, part-time  \
0                          False
1                          False
2                          False
3                          False
4                          False

   Employment_Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Employment_Student, part-time;Retired
0                                  False
1                                  False
2                                  False
3                                  False
4                                  False

[5 rows x 110 columns]

### 5. Handling Missing Values

# Count missing values per column and sort descending
missing_by_column = df.isnull().sum().sort_values(ascending=False)

# Display columns with the highest missing values
print(missing_by_column)

In [9]:
# Count missing values per column and sort descending
missing_by_column = df.isnull().sum().sort_values(ascending=False)

# Display columns with the highest missing values
print(missing_by_column)

AINextMuch less integrated                                              64289
AINextLess integrated                                                   63082
AINextNo change                                                         52939
AINextMuch more integrated                                              51999
EmbeddedAdmired                                                         48704
                                                                        ...
Employment_Student, full-time;Student, part-time;Employed, part-time        0
Employment_Student, full-time;Student, part-time;Retired                    0
Employment_Student, part-time                                               0
Employment_Student, part-time;Employed, part-time                           0
Employment_Student, part-time;Retired                                       0
Length: 224, dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [10]:
# 5.2 Impute missing values in numerical columns with mean or median

# ---- Option A: Impute ConvertedCompYearly with the median (recommended for skewed data) ----
median_value = df["ConvertedCompYearly"].median()
df["ConvertedCompYearly"] = df["ConvertedCompYearly"].fillna(median_value)

# ---- Option B: Impute ConvertedCompYearly with the mean (alternative) ----
# mean_value = df["ConvertedCompYearly"].mean()
# df["ConvertedCompYearly"] = df["ConvertedCompYearly"].fillna(mean_value)

# Optional verification
print(df["ConvertedCompYearly"].isnull().sum())

0

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [11]:
# 5.3 Impute missing values in categorical columns with the most frequent value

# Find the most frequent value (mode) of RemoteWork
most_frequent_remote = df["RemoteWork"].mode()[0]

# Impute missing values with the mode
df["RemoteWork"] = df["RemoteWork"].fillna(most_frequent_remote)

# Optional verification
print(df["RemoteWork"].isnull().sum())

0

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [12]:
# 6.1 Apply Min-Max Scaling to normalize ConvertedCompYearly

# Create a new Min-Max normalized column
df["ConvertedCompYearly_MinMax"] = (
    (df["ConvertedCompYearly"] - df["ConvertedCompYearly"].min()) /
    (df["ConvertedCompYearly"].max() - df["ConvertedCompYearly"].min())
)

# Optional verification
print(df["ConvertedCompYearly_MinMax"].describe())

count    65437.000000
mean         0.004464
std          0.006903
min          0.000000
25%          0.003998
50%          0.003998
75%          0.003998
max          1.000000
Name: ConvertedCompYearly_MinMax, dtype: float64

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [13]:
# 6.2 Log-transform ConvertedCompYearly to reduce skewness

import numpy as np

# Apply log transformation (log1p handles zero values safely)
df["ConvertedCompYearly_Log"] = np.log1p(df["ConvertedCompYearly"])

# Optional verification
print(df["ConvertedCompYearly_Log"].describe())

count    65437.000000
mean        10.976053
std          0.851456
min          0.693147
25%         11.082158
50%         11.082158
75%         11.082158
max         16.604010
Name: ConvertedCompYearly_Log, dtype: float64

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [14]:
# 7.1 Create ExperienceLevel based on YearsCodePro

import numpy as np

# Ensure YearsCodePro is numeric (coerce non-numeric to NaN)
df["YearsCodePro"] = pd.to_numeric(df["YearsCodePro"], errors="coerce")

# Define experience levels
df["ExperienceLevel"] = np.where(
    df["YearsCodePro"] < 5, "Junior",
    np.where(df["YearsCodePro"] <= 10, "Mid-level", "Senior")
)

# Optional verification
print(df[["YearsCodePro", "ExperienceLevel"]].head())

   YearsCodePro ExperienceLevel
0           NaN          Senior
1          17.0          Senior
2          27.0          Senior
3           NaN          Senior
4           NaN          Senior

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.